#footer {
  background-color: $secondary;
  color: $fprimary;
  .footer-main {
    padding-top: map-get($container-space, "lg");
    padding-bottom: map-get($container-space, "lg");
    @include media-breakpoint-down(md) {
      padding-top: map-get($container-space, "md");
      padding-bottom: map-get($container-space, "md");
    }
    @include media-breakpoint-down(sm) {
      padding-top: map-get($container-space, "sm");
      padding-bottom: map-get($container-space, "sm");
    }
  }
  .footer-col {
    .title {
      margin-bottom: 0.5em;
    }
    .content {
      line-height: 1.75em;
      @include font-size($font-size-base);
    }
  }
  .utilityNav {
    @include font-size(($font-size-base / 7) * 6);
  }
  @include media-breakpoint-down(md) {
    .row > .adr-col + .adr-col {
      margin-top: 3em;
    }
  }
  @include media-breakpoint-down(md) {
    .footer-main > .row > .footer-col:last-child {
      margin-top: 3em;
    }
    .footer-main > .row > .footer-col:first-child {
      margin-bottom: 3em;
    }
  }

  @include media-breakpoint-up(lg) {
    .row > .adr-col:first-child {
      margin-bottom: 3em;
    }
  }
}
