#home {
  p {
    @include font-size(($font-size-base / 7) * 8);
  }
  .featured {
    .title {
      text-align: center;
      margin-bottom: 1.5em;
    }

    .group-row + .group-row {
      margin-top: 3em;
    }

    .group-row .group-card + .group-card {
      @include media-breakpoint-down(md) {
        margin-top: 3em;
      }
    }

    .item {
      margin-bottom: 3em;
    }

    .featured-item {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 18px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
      border-radius: 10px;
      padding: 1.5rem;
      height: 100%;
      margin-bottom: 60px;

      .title {
        text-align: left;
        margin-bottom: 0.75em;
      }

      .read-more-btn {
        @include font-size(($font-size-base / 7) * 8);
        color: $fprimary;
        background-color: $secondary;
        text-decoration: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        display: inline-block;
        position: absolute;
        bottom: 1.5em;

        &:hover {
          background-color: $primary;
          box-shadow: $elevation;
          color: $alert;
        }
      }
    }
  }
}
