#service {
  background-color: $bgprimary;

  .container {
    padding-top: $containerSpace;
    padding-bottom: $containerSpace;
  }

  .title {
    margin-bottom: 1.25em;
  }

  p {
    @include font-size(($font-size-base / 7) * 8);
  }

  .service-button {
    @include font-size(($font-size-base / 7) * 8);
    color: $fprimary;
    background-color: $secondary;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 2.5em;

    &:hover {
      background-color: $primary;
      box-shadow: $elevation;
      color: $alert;

      &.request-service {
        color: $danger;
      }
    }
  }

  .service-overview {
    p:last-of-type {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
      padding-right: 2em !important;
    }
    @include media-breakpoint-up(md) {
      padding-right: 15px;
    }
  }

  .service-content {
    @include font-size(($font-size-base / 7) * 8);

    @include media-breakpoint-up(md) {
      padding-left: 2em;
    }
    @include media-breakpoint-down(md) {
      padding-left: 15px;
      margin-top: 4em;
    }
  }
}
