@import "./scss/citymechanical.scss";

html {
  background-color: $primary;

  body,
  #root,
  #app-root {
    height: $app-min-height;
    min-height: $app-min-height;
    min-width: $app-min-width !important;
  }
}
