@import "./scss/citymechanical.scss";
html,
#__next {
  background-color: $primary;
  height: 100%;

  body,
  #root,
  #app-root {
    height: $app-min-height;
    min-height: $app-min-height;
    min-width: $app-min-width !important;
  }
}
