.contactBar {
    color: $grey-1;
    background-color: $blue-5;
    @include font-size(13px);
    display: flex;
    justify-content: space-between;

    .icons {
        display: inline-flex;
        line-height: 1;
    }

    &.contactBar-xs {
        @include cbp(5px);
    }

    &.contactBar-sm {
        @include cbp(7.5px);
    }

    
    &.contactBar-md {
        @include cbp(10px);
    }

    &.contactBar-lg {
        @include cbp(12.5px);
    }

    &.contactBar-xl {
        @include cbp(15px);
    }
}