.contactBar {
  color: $fontPrimary;
  background-color: $primary;
  line-height: 1;
  @include font-size(14px);

  // Use a map
  &.contactBar-xs {
    @include cbp($basespace*2);
  }

  &.contactBar-sm {
    @include cbp($basespace*3);
  }
  
  &.contactBar-md {
    @include cbp($basespace*4);
  }

  &.contactBar-lg {
    @include cbp($basespace*5);
  }

  &.contactBar-xl {
    @include cbp($basespace*6);
  }

  .container {
    display: flex;
    justify-content: space-between;

    .info {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .contactLink  + .contactLink {
        margin-left: 15px;
      }
    }

    .social {
      display: none;
      line-height: 1;

      @include media-breakpoint-up(sm) {
        display: inline-flex;
      }
    }
  }
}