.contactLink {
  display: inline-flex;
  align-items: center;
    
  + .contactLink {
    margin-left: 15px;
  }

  * {
    display: inline-flex;
    line-height: 0;
  }

  a {
    color: $fontPrimary;

    &:hover {
      text-decoration: none;
      color: $fontContact;
    }
  }

  .icon {
    margin-right: 3px;
  }
}