.contactLink {
  display: inline-flex;
  align-items: center;

  * {
    display: inline-flex;
    line-height: 0;
  }

  a {
    color: $fontPrimary;

    &:hover {
      text-decoration: none;
      color: $fontContact;
    }
  }

  // Use a mixin / map
  &.contactLink-xs .icon {
    margin-right: 3px;
  }
  &.contactLink-sm .icon {
    margin-right: 6px;
  }
  &.contactLink-md .icon {
    margin-right: 9px;
  }
  &.contactLink-lg .icon {
    margin-right: 12px;
  }
  &.contactLink-xl .icon {
    margin-right: 15px;
  }
}