.navbar-nav {
  .navdropdown {
    .ndd {
      border-radius: 5px 5px 0 0;
      &:hover {
        color: $alert;
      }
    }

    &:hover {
      .ndd {
        background-color: $bghighlighted;

        @include media-breakpoint-down(xxl) {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 18px 0px,
            rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
        }

        @include media-breakpoint-up(xxl) {
          box-shadow: none;
        }
      }
      .ndd-shadowfix {
        background-color: $bghighlighted;
      }
      .ndd-icon {
        transform: rotate(90deg);
      }
      .ndd-menu {
        display: block;

        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 18px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
      }
    }

    .ndd-menu {
      z-index: 1000;
      columns: 1;
      border-radius: 0 0 5px 5px;
      background-color: $bgprimary;
      min-width: 10rem;
      column-gap: 0;

      @include media-breakpoint-down(xxl) {
        position: relative;
        display: block;
        padding: 0.5em 0.5em 0.5em 2.5em;
      }

      @include media-breakpoint-up(xxl) {
        position: absolute;
        display: none;
        padding: 0.5em;
        &.col2 {
          columns: 2;
        }
      }
    }

    .ndd-icon {
      margin-bottom: 3px;
      margin-left: -5px;
      margin-right: 1px;
      transition: transform linear 0.1s;
    }

    .ndd-item {
      width: 100%;
      list-style: none;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;

      .nav-link:hover {
        color: $alert;
        background-color: $bghighlighted;
        transform: translateZ(0);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 18px 0px,
          rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
      }
    }

    .ndd-shadowfix {
      position: relative;
      width: 100%;
      margin-top: -10px;
      height: 10px;
      z-index: 1001;
      box-shadow: none;
      pointer-events: none;
    }
  }
}
