.navbar {
  @include font-size(16px);
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;

  .navbar-brand {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: -0.5em;
    margin-right: 0;
    padding: 0.5rem;
    color: $fsecondary;
    border-radius: 5px;

    &:hover {
      opacity: 0.8;
    }
  }

  .navbar-nav {
    @include media-breakpoint-down(xxl) {
      padding-bottom: 30px;
    }

    @include media-breakpoint-up(xxl) {
      padding-bottom: 0px;
    }

    > .nav-link {
      &:hover {
        background-color: $bghighlighted;
        color: $alert;
        box-shadow: $elevation;
      }
    }

    .nav-link {
      color: $fsecondary;
      border-radius: 5px;

      &.service-nav-link {
        color: $primary;

        &:hover {
          color: $danger;
        }
      }

      &.active {
        color: $alert;
      }
    }
  }

  .nav-link {
    &.brand {
      padding: 0rem !important;
    }

    @include media-breakpoint-up(xxxl) {
      padding-right: 0.75em !important;
      padding-left: 0.75em !important;
    }

    @include media-breakpoint-down(xxxl) {
      padding-right: 0.55em !important;
      padding-left: 0.55em !important;
    }
  }
}
