.sitemap {
  .sitemap-link {
    //display: inline-block;
    cursor: pointer;
    margin-left: -0.5em;
    a {
      color: $fprimary;
      @include font-size($font-size-base);
      text-decoration: none;
      border-radius: 5px;
      padding: 0.25em 0.5em;

      display: inline-block;

      &:hover {
        color: $alert;
        box-shadow: $elevation;
        background-color: $primary;
      }
    }
  }
}
