.sitemapBtn {
  background-color: $primary;
  color: $alert;
  padding: $smapBtn-space/3 $smapBtn-space*1.5;
  margin-top: $smapBtn-space;
  margin-right: $smapBtn-space/1.75;
  white-space: nowrap;
  display: inline-block;
  border-radius: 12px;

  &:hover {
    background-color: $highlighted;
    color: $fontPrimary;
    text-decoration: none;
  }
}