.utilityNav {
  color: $fontPrimary;
  background-color: $primary;
  line-height: 1;
  @include font-size(14px);

  // Use a map
  &.utilityNav-xs {
    @include cbp($basespace * 2);
  }

  &.utilityNav-sm {
    @include cbp($basespace * 3);
  }

  &.utilityNav-md {
    @include cbp($basespace * 4);
  }

  &.utilityNav-lg {
    @include cbp($basespace * 5);
  }

  &.utilityNav-xl {
    @include cbp($basespace * 6);
  }

  .container {
    display: flex;
    justify-content: space-between;

    .info {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .contactLink + .contactLink {
        margin-left: 15px;
      }
    }

    .social {
      display: none;
      line-height: 1;

      @include media-breakpoint-up(sm) {
        display: inline-flex;
      }
    }
  }
}
