/*
 * appad - App padding
 * 
 * Used to apply global app padding to top level container components.
 */

@mixin appad {
  @include media-breakpoint-up(xs) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media-breakpoint-up(sm) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
