// App
//
// Global App settings.

$app-min-height: 100%;
$app-min-width: 370px;

$app-max-width: 1350px; // implemented in container max-width (preserves bg)

// Typography
$font-size-base: 12px;
$font-size-base: 0.75rem;


// Brand
//
// Define the gloabal brand colors (needs to be renamed)

$blue-1: #424d67;
$blue-2: #242e42;
$blue-3: #2e3952;
$blue-4: #445270;
$blue-5: #293856;

$grey-0: #000000;
$grey-1: #ffffff;
$grey-2: #aaaaaa;
$grey-3: #40403f;
$grey-4: #6c6c6b;
$grey-5: #dfdfdf;
$grey-6: #c6c6c6;

$alert-yellow: #feaa01;
$contact-red: #fd411c;

$yelp: #c41200;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  tn: 0,
  xs: 475px,
  sm: 576px, // default
  md: 768px, // default
  lg: 992px, // default
  xl: 1200px // default
) !default;