// App
//
// Global App settings.

$app-min-height: 100%;
$app-min-width: 370px;

$app-max-width: 1350px; // implemented in container max-width (preserves bg)

// Typography
$font-size-base: 12px;
$font-size-base: 0.75rem;


// Brand
//
// Define the global brand colors (needs to be renamed)
$primary: #1a3765;
$secondary: #03d2fa;

$fontPrimary: #ffffff;
$fontContact: #ff1d00;

$blue-1: #424d67;
$blue-2: #242e42;
$blue-3: #2e3952;
$blue-4: #445270;
$blue-5: #293856;

$grey-0: #000000;
$grey-1: #ffffff;
$grey-2: #aaaaaa;
$grey-3: #40403f;
$grey-4: #6c6c6b;
$grey-5: #dfdfdf;
$grey-6: #c6c6c6;

$alert-yellow: #feaa01;
$contact-red: #fd411c;

// Social Media
//
// Define the global social media colors

$twitter: #1da1f2;
$facebook: #3c5a99;
$instagram: (
  0: #405de6,
  1: #5851db,
  2: #833ab4,
  3: #c13584,
  4: #e1306c,
  5: #fd1d1d,
  6: #f56040,
  7: #f77737,
  8: #fcaf45,
  9: #ffdc80
);
$yelp: #d32323;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  tn: 0,
  xs: 475px,
  sm: 576px, // default
  md: 768px, // default
  lg: 992px, // default
  xl: 1200px // default
) !default;