.utilityNav {
  color: $fprimary;
  background-color: $primary;
  line-height: 1;
  @include font-size($font-size-base);

  // Use a map
  &.utilityNav-xs {
    @include cbp($basespace * 2);
    @include media-breakpoint-down(sm) {
      @include cbp($basespace * 1.5);
    }
  }

  &.utilityNav-sm {
    @include cbp($basespace * 3);
    @include media-breakpoint-down(sm) {
      @include cbp($basespace * 2.25);
    }
  }

  &.utilityNav-md {
    @include cbp($basespace * 4);
    @include media-breakpoint-down(sm) {
      @include cbp($basespace * 3);
    }
  }

  &.utilityNav-lg {
    @include cbp($basespace * 5);
    @include media-breakpoint-down(sm) {
      @include cbp($basespace * 3.75);
    }
  }

  &.utilityNav-xl {
    @include cbp($basespace * 6);
    @include media-breakpoint-down(sm) {
      @include cbp($basespace * 4.5);
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(xs) {
      padding-left: $grid-gutter-width/3.75;
      padding-right: $grid-gutter-width/3.75;
    }

    .info {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }

      .contactLink + .contactLink {
        margin-left: 15px;
      }
    }

    .social {
      display: none;
      line-height: 1;

      @include media-breakpoint-up(sm) {
        display: inline-flex;
      }
    }
  }
}
