@function calculateRem($size) {
  $remSize: ($size / $font-size-default) * 1rem;
  @return #{$remSize};
}

@function calculatePx($size) {
  $pxSize: ($size * $font-size-default) / 1rem;
  @return #{$pxSize};
}

@mixin font-size($size) {
  @if unit($size) == "rem" {
    font-size: calculatePx($size) !important; // font-size in px
    font-size: $size !important; // font-size in rem
  }
  @if unit($size) == "px" {
    font-size: $size !important; // font-size in px
    font-size: calculateRem($size) !important; // font-size in rem
  }
}
