#service {
  background-color: $bgprimary;

  .container {
    padding-top: $containerSpace;
    padding-bottom: $containerSpace;
  }

  .title {
    margin-bottom: 1.25em;
  }

  p {
    @include font-size(($font-size-base / 7) * 8);
  }

  .service-overview {
    p:last-of-type {
      margin-bottom: 0;
    }

    .request-service {
      @include font-size(($font-size-base / 7) * 8);
      color: $fprimary;
      background-color: $secondary;
      text-decoration: none;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      display: inline-block;
      margin-top: 2.5em;

      &:hover {
        background-color: $primary;
        color: $danger;
        box-shadow: $elevation;
      }
    }
  }

  .service-content {
    @include font-size(($font-size-base / 7) * 8);

    @include media-breakpoint-down(md) {
      margin-top: 3em;
    }
  }
}
