// App
//
// Global App settings.

$app-min-height: 100%;
$app-min-width: 370px;

$app-max-width: 1350px; // implemented in container max-width (preserves bg)

// Typography
$font-size-default: 16px;
$font-size-base: 0.875rem; // 14px (With default of 16px)

// Spacing
$basespace: 2.5px;
$container-space: (
  "sm": 2.5rem,
  "md": 3rem,
  "lg": 4rem
);
$grid-gutter-width: 3rem;

// Palette
//
// Defines generic palette colors

$white: #fff;
$black: #000;

$blue-1: #424d67;
$blue-2: #242e42;
$blue-3: #2e3952;
$blue-4: #445270;

$grey-2: #aaaaaa;
$grey-3: #40403f;
$grey-4: #6c6c6b;
$grey-5: #dfdfdf;
$grey-6: #c6c6c6;

$elevation: rgba(0, 0, 0, 0.2) 0px 8px 18px 0px,
  rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;

// Brand
//
// Define the global brand colors (needs to be renamed)
$primary: #1a3765; // #293856
$secondary: #122646; // #00113a;
$highlighted: #224884; //#4b6193;

$danger: #ff1d00; // #fd411c;
$alert: #ffb300; // #feaa01;

$fprimary: $white;
$fsecondary: #727272; // #747472

$bgprimary: #fafafa;
$bghighlighted: $white;

// Social Media
//
// Define the global social media colors

$twitter: #1da1f2;
$facebook: #3c5a99;
$instagram: (
  0: #405de6,
  1: #5851db,
  2: #833ab4,
  3: #c13584,
  4: #e1306c,
  5: #fd1d1d,
  6: #f56040,
  7: #f77737,
  8: #fcaf45,
  9: #ffdc80
);
$yelp: #d32323;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  tn: 0,
  xs: 475px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px,
  xxxl: 1350px
);
